@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Ubuntu Mono';
  src: url('/fonts/UbuntuMono-Regular.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu Mono Bold';
  src: url('/fonts/UbuntuMono-Bold.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-Medium.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@layer base {
  :root {
    --gradient: #08080C;
    --background: 255 96% 98.08%;
    --foreground: 255 2% 0.16%;
    --muted: 255 2% 90.4%;
    --muted-foreground: 255 1% 40.4%;
    --popover: 255 74% 90.4%;
    --popover-foreground: 255 2% 0.2%;
    --card: 255 74% 90.4%;
    --card-foreground: 255 2% 0.2%;
    --border: 255 7% 89.16%;
    --input: 255 7% 89.16%;
    --primary: 255 20% 4%;
    --primary-foreground: 255 0.4% 90.4%;
    --secondary: 255 1% 95.2%;
    --secondary-foreground: 255 2.2% 10.4%;
    --accent: 255 1% 95.2%;
    --accent-foreground: 255 2.2% 10.4%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 255 20% 4%;
    --radius: 0.5rem;
  }
  .dark {
    --gradient: #6441A5;
    --background: 277 28.6% 3.6%;
    --foreground: 277 4.4% 97.25%;
    --muted: 277 22% 13.5%;
    --muted-foreground: 277 4.4% 54.5%;
    --popover: 277 56.2% 5.8500000000000005%;
    --popover-foreground: 277 4.4% 97.25%;
    --card: 277 56.2% 5.8500000000000005%;
    --card-foreground: 277 4.4% 97.25%;
    --border: 277 22% 13.5%;
    --input: 277 22% 13.5%;
    --primary: 277 44% 45%;
    --primary-foreground: 277 4.4% 97.25%;
    --secondary: 277 22% 13.5%;
    --secondary-foreground: 277 4.4% 97.25%;
    --accent: 277 22% 13.5%;
    --accent-foreground: 277 4.4% 97.25%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 277 4.4% 97.25%;
    --ring: 277 44% 45%;
  }

  *,
  *::before,
  *::after {
    @apply border-border;
  }

  html {
    color-scheme: light;
    @apply bg-background text-foreground;

    &.dark {
      color-scheme: dark;
    }

    ::-webkit-scrollbar-corner {
      @apply bg-transparent;
    }
  }

  .disable-transitions,
  .disable-transitions * {
    @apply !transition-none;
  }
}

@layer components {
  article {
    @apply prose-headings:scroll-mt-20 prose-headings:break-words first:prose-headings:mt-0 prose-p:break-words prose-a:!break-words prose-a:!decoration-muted-foreground prose-a:underline-offset-[3px] prose-a:transition-colors hover:prose-a:!decoration-foreground prose-pre:!px-0 prose-img:mx-auto;

    .katex-display {
      @apply overflow-x-auto overflow-y-hidden py-4;
    }

    /* Removes background from <mark> elements */
    mark {
      @apply bg-transparent;
    }

    /* Blanket syntax highlighting */
    code[data-theme*=' '] {
      span {
        color: var(--shiki-light);
      }

      .dark & span {
        color: var(--shiki-dark);
      }
    }

    /* Inline code */
    :not(pre) > code {
      @apply relative rounded bg-muted/50 px-[0.3rem] py-[0.2rem] font-mono text-sm font-medium;
    }

    /* Code blocks */
    figure[data-rehype-pretty-code-figure] {
      @apply relative;

      /* Code block titles */
      [data-rehype-pretty-code-title] {
        @apply break-words rounded-t-xl border-x border-t px-4 py-2 text-sm font-medium text-foreground;

        /* Remove top margin from code block if a title is present */
        & + pre {
          @apply mt-0 rounded-t-none;
        }
      }

      /* Code block styles */
      pre {
        @apply static max-h-[600px] overflow-auto rounded-xl border bg-secondary/20 py-4 text-sm leading-loose;

        /* Code block content */
        > code {
          @apply whitespace-pre-wrap;
          counter-reset: line;

          /* For code blocks with line numbers */
          &[data-line-numbers] {
            > [data-line]::before {
              counter-increment: line;
              content: counter(line);
              @apply mr-4 inline-block w-4 text-right text-muted-foreground;
            }
          }

          /* For each line in the code block */
          > [data-line] {
            @apply px-4;
          }

          /* Highlighted lines */
          [data-highlighted-line] {
            @apply bg-foreground/10;
          }

          /* Highlighted characters */
          [data-highlighted-chars] > span {
            @apply bg-muted-foreground/40 py-[7px];
          }

          /* Diff lines */
          .diff {
            &.add {
              @apply bg-additive/15;
            }
            &.remove {
              @apply bg-destructive/15;
            }
          }

          /* Copy button */
          > button:has(> span) {
            @apply right-0.5 top-[3px] m-0 size-8 rounded-md bg-background p-1 backdrop-blur-none transition-all;
          }
        }
      }
    }
  }
}
