@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme inline {
  --font-sans:
    'JetBrains Mono', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono:
    'JetBrains Mono', 'Ubuntu Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-additive: var(--additive);
  --color-additive-foreground: var(--additive-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-ring: var(--ring);
}

@font-face {
  font-family: 'Ubuntu Mono';
  src: url('/fonts/UbuntuMono-Regular.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu Mono Bold';
  src: url('/fonts/UbuntuMono-Bold.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-Medium.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: oklch(0.976 0.013 297.594);
  --foreground: oklch(0.050 0.000 297.816);
  --primary: oklch(0.139 0.009 297.318);
  --primary-foreground: oklch(0.926 0.000 297.823);
  --secondary: oklch(0.963 0.000 297.821);
  --secondary-foreground: oklch(0.218 0.002 297.639);
  --muted: oklch(0.925 0.001 297.800);
  --muted-foreground: oklch(0.511 0.003 297.712);
  --accent: oklch(0.963 0.000 297.821);
  --accent-foreground: oklch(0.218 0.002 297.639);
  --destructive: oklch(0.637 0.208 25.326);
  --border: oklch(0.913 0.005 297.722);
  --ring: oklch(0.139 0.009 297.318);
}

[data-theme='dark'] {
  --background: oklch(0.134 0.014 313.482);
  --foreground: oklch(0.979 0.001 312.981);
  --primary: oklch(0.497 0.162 310.242);
  --primary-foreground: oklch(0.979 0.001 312.981);
  --secondary: oklch(0.184 0.035 311.634);
  --secondary-foreground: oklch(0.979 0.001 312.981);
  --muted: oklch(0.240 0.031 312.088);
  --muted-foreground: oklch(0.628 0.017 312.804);
  --accent: oklch(0.240 0.031 312.088);
  --accent-foreground: oklch(0.979 0.001 312.981);
  --destructive: oklch(0.396 0.133 25.721);
  --border: oklch(0.240 0.031 312.088);
  --ring: oklch(0.497 0.162 310.242);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply border-border outline-ring/50 tracking-tight;
  }
}
